/*--------[основная разметка блоков]------------*/

.photo{
    margin: 5px;
	padding: 5px;
	border: #bbb solid 5px;
}
#g_fon{
    width: 100%;
    height:100%;
    position: fixed;
    background: rgba(2,2,2,0.5);
    top: 0px;
    left: 0px;
    z-index: 10;
    display:none;
	overflow-y: auto;
	cursor: pointer;
}
#g_pos{
    position: absolute;
    top: 50%; left: 50%;
	z-index: 9;
	/*border: #000 solid 1px;*/
}
#g_frame{
    background: #fff;
	border: none;
	border-radius: 3px;	
    box-shadow: 0 0 6px rgba(0,0,0,0.6); /* Параметры тени */
	
}
#g_img{
    margin:0;
	border: none;
	border-radius: 3px 3px 0 0;	
	cursor: pointer;
}
#g_f_title{
    padding: 0.2em;
	font-size: 12px;
	color: #555;
	box-sizing: border-box;
}
.g_i_num{
	color: #999;
}
span.g_p_title{
    display:none;
}
#g_close{
    position: fixed;
	width: 30px;
	height: 30px;
	float: right;
	background: #333;
	z-index: 99999999;
	top: 0px;
}
#g_space{
    height: 20px;
	border: #000 solid 1px;
}
#g_prev{
    position: fixed;
	top:0;
	left: 0;
	width: 50%;
	height: 100%;
	/*border: #000 solid 1px;*/
	z-index: 2;
	color: #ddd;
	font-size: 100px;
	cursor: pointer;
}
#g_close_cross{
	position: absolute;
	right: 0px;
	top: 0px;	
	color: rgba(255,255,255,0.3);
	transition: color 0.4s ease 0;
	font-size: 40px;
	z-index: 99999999999;
	cursor: pointer;
	padding: 3px 0.2em;
	margin: 0;
	text-shadow: 0 0 5px  rgba(0,0,0,0.8);
}
#g_close_cross:hover{
	color: rgba(250,250,250,0.9);
}
#g_prev_but{
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0.8;
	color: #333;
	font-size: 80px;
	z-index: 99999999999;
	cursor: pointer;
	padding: 3px;
}

.no_select {
user-select: none;
-o-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
}